{
    "openapi": "3.0.0",
    "info": {
        "title": "Youth Management Service",
        "description": "Youth Management Service",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://youth-phase1.nise.gov.bd/api/v1"
        },
        {
            "url": "http://nise-youth.softbd/api/v1"
        },
        {
            "url": "https://youth.bus-staging.softbdltd.com/api/v1"
        },
        {
            "url": "http://localhost:8000/api/v1"
        },
        {
            "url": "http://localhost:8001/api/v1"
        },
        {
            "url": "http://localhost:8002/api/v1"
        },
        {
            "url": "http://localhost:8003/api/v1"
        },
        {
            "url": "http://localhost:8004/api/v1"
        }
    ],
    "security": [
        {
            "User-Token": [
            ]
        }
    ],
    "paths": {
        "/": {
            "get": {
                "summary": "Youth Service Information",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "service_name": "NISE-3 Youth Management API Service",
                                    "service_version": "V1",
                                    "lumen_version": "Lumen (8.2.4) (Laravel Components ^8.0)",
                                    "module_list": [
                                        "Youth"
                                    ],
                                    "description": [
                                        "It is a youth management api service that manages the youths"
                                    ]
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "API info"
                ]
            }
        },
        "/skills": {
            "get": {
                "summary": "get_list",
                "description": "API endpoint to get the list of Skills.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "$ref": "#/components/parameters/title_en_optional"
                    },
                    {
                        "$ref": "#/components/parameters/title_optional"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Skill"
                                },
                                "example": {
                                    "current_page": 1,
                                    "total_page": 1,
                                    "page_size": 10,
                                    "total": 10,
                                    "order": "ASC",
                                    "data": [
                                        {
                                            "title_en": null,
                                            "title": "Native title sdfgvsdgfverfg",
                                            "id": 27
                                        }
                                    ],
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "skills"
                ]
            },
            "post": {
                "summary": "create",
                "description": "API endpoint to create a Skill.A successful request response will show 200 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/Skill"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "create",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Skill"
                                },
                                "example": {
                                    "data": {
                                        "title_en": null,
                                        "title": "Native title sdfgvsdgfverfg",
                                        "id": 27
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "Skill added successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "skills"
                ]
            }
        },
        "/skills/{skillId}": {
            "get": {
                "summary": "get_one",
                "description": "API endpoint to get a specified Skill.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/skillId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Skill"
                                },
                                "example": {
                                    "data": {
                                        "title_en": null,
                                        "title": "Native title sdfgvsdgfverfg",
                                        "id": 27
                                    },
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "skills"
                ]
            },
            "put": {
                "summary": "update",
                "description": "API endpoint to update the specified Skill. A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/skillId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/Skill"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "update",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Skill"
                                },
                                "example": {
                                    "data": {
                                        "title_en": null,
                                        "title": "Native title sdfgvsdgfverfg",
                                        "id": 27
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "skill updated successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "skills"
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "API endpoint to delete the specified Skill.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/skillId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "delete",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Skill"
                                },
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Skill deleted successfully.",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "skills"
                ]
            }
        },
        "/youths": {
            "get": {
                "summary": "get_list",
                "description": " API endpoint to get the list of Youth profile.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "name": "search_text",
                        "in": "query",
                        "required": false,
                        "description": "Seach by text against these keys => first_name,first_name_en,last_name,last_name_en,division_title,division_title_en,district_title,district_title_en,upazilas_title,upazilas_title_en,skill_title,skill_title_en",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/row_status_optional"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    },
                    {
                        "name": "skill_ids",
                        "in": "query",
                        "required": false,
                        "description": "sent skill ids as comma separated string",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is_freelance_profile",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                0
                            ]
                        }
                    },
                    {
                        "name": "loc_upazila_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "loc_district_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "first_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Youth"
                                },
                                "example": {
                                    "order": "ASC",
                                    "data": [
                                        {
                                            "id": 1,
                                            "username": "enola.skiles@example.net",
                                            "is_freelance_profile": 0,
                                            "user_name_type": 1,
                                            "first_name": "Liliane McClure V",
                                            "first_name_en": null,
                                            "last_name": "Liliane McClure V",
                                            "last_name_en": null,
                                            "gender": 2,
                                            "religion": 1,
                                            "upazila_title": null,
                                            "upazila_title_en": null,
                                            "email": "enola.skiles@example.net",
                                            "mobile": "01754994292",
                                            "expected_salary": 50000,
                                            "job_level": 1,
                                            "nationality": 1,
                                            "identity_number": "6786548906754",
                                            "identity_number_type": 1,
                                            "marital_status": 1,
                                            "date_of_birth": "2010-01-01",
                                            "physical_disability_status": 1,
                                            "loc_division_id": 1,
                                            "division_title": null,
                                            "division_title_en": null,
                                            "loc_district_id": 1,
                                            "district_title": null,
                                            "district_title_en": null,
                                            "loc_upazila_id": null,
                                            "does_belong_to_ethnic_group": 0,
                                            "freedom_fighter_status": 0,
                                            "bio": null,
                                            "bio_en": null,
                                            "photo": null,
                                            "cv_path": null,
                                            "row_status": 1,
                                            "created_at": "2021-10-10T07:23:58.000000Z",
                                            "updated_at": "2021-10-10T07:23:58.000000Z",
                                            "skills": [
                                                {
                                                    "id": 1,
                                                    "title": "টেকনিকাল রাইটিং",
                                                    "title_en": "Technical Writing",
                                                    "deleted_at": null
                                                }
                                            ],
                                            "physicalDisabilities": [
                                                {
                                                    "id": 1,
                                                    "title": "Visual Disabilities",
                                                    "title_en": "Visual Disabilities",
                                                    "row_status": 1,
                                                    "created_at": "2021-10-10T07:23:58.000000Z",
                                                    "updated_at": "2021-10-10T07:23:58.000000Z",
                                                    "deleted_at": null
                                                }
                                            ]
                                        }
                                    ],
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "started": "12 33 26",
                                        "finished": "12 33 26"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "youth"
                ]
            }
        },
        "/youths/{youthId}": {
            "get": {
                "summary": "get one",
                "description": "API endpoint to get the specified Youth profile.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "name": "youthId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get One Youth",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/youthResponse"
                                },
                                "example": {
                                    "data": [
                                        {
                                            "id": 1,
                                            "username": "lorena28@example.org",
                                            "user_name_type": 1,
                                            "first_name": "Maximilian Parisian III",
                                            "first_name_en": null,
                                            "last_name": "Maximilian Parisian III",
                                            "last_name_en": null,
                                            "loc_division_id": null,
                                            "division_title": null,
                                            "division_title_en": null,
                                            "loc_district_id": null,
                                            "district_title": null,
                                            "district_title_en": null,
                                            "loc_upazila_id": null,
                                            "upazila_title": null,
                                            "upazila_title_en": null,
                                            "gender": 1,
                                            "religion": 1,
                                            "expected_salary": 50000,
                                            "job_level": 1,
                                            "marital_status": 1,
                                            "nationality": 1,
                                            "email": "lorena28@example.org",
                                            "mobile": "01749761462",
                                            "identity_number_type": "1",
                                            "identity_number": "9873893467890",
                                            "date_of_birth": "-000001-11-30T00:00:00.000000Z",
                                            "freedom_fighter_status": 0,
                                            "physical_disability_status": 0,
                                            "does_belong_to_ethnic_group": 0,
                                            "bio": null,
                                            "bio_en": null,
                                            "photo": null,
                                            "cv_path": null,
                                            "signature_image_path": null,
                                            "row_status": 1,
                                            "created_at": "2021-10-17T06:26:04.000000Z",
                                            "updated_at": "2021-10-17T06:26:04.000000Z",
                                            "skills": [
                                                {
                                                    "id": 21,
                                                    "title": "Payroll Clerk",
                                                    "title_en": "Payroll Clerk",
                                                    "description": "Doloribus omnis ut ducimus perferendis. Tempore dignissimos atque at modi voluptatem aut. Voluptas quia veniam iusto deserunt aut corporis sunt. Alias temporibus quisquam quae est quia rem. Alias assumenda nobis velit sed unde molestiae. Et non nostrum hic minus eos omnis. Esse quae saepe suscipit ipsam perferendis. Praesentium qui incidunt aspernatur quasi ipsum. Eveniet nihil aperiam aut molestiae aut. Officia sit voluptatem nobis voluptate labore. Dicta voluptatibus dolorem sint et expedita. Nihil dolorem fuga ratione et dignissimos. Est rerum aut enim. Quis doloribus et neque dolores corrupti rem dolores recusandae. Similique est voluptatem et minus suscipit et iste qui. Dolor nulla rerum cum porro explicabo velit. Tenetur incidunt natus id esse. Ut sequi quod non molestiae ratione nihil. Placeat voluptatum porro velit quod accusantium velit placeat. Eos aut voluptatem id at quia cumque esse ratione. Voluptatibus omnis ut rerum ut fugiat. Adipisci qui et consectetur voluptas corrupti et autem. Odio deleniti quod mollitia placeat et. Alias voluptate ipsum eveniet fugit dolor temporibus voluptatem et. Praesentium ut non assumenda est ut. Fuga tempore officiis inventore mollitia. Maxime tenetur magnam et et dolores hic aliquid. Eveniet nostrum minima ducimus et molestiae ratione. Vero sit distinctio officiis magnam. Quaerat eius praesentium quasi et sint. Totam aut illum vel velit. Inventore accusamus at est incidunt nulla. Eius a esse molestiae modi. Eius cupiditate iusto fugiat nemo est cum. Ea ab neque nobis sit quia ullam eligendi. Sint molestias vel et suscipit qui pariatur autem. Est explicabo ut est voluptatem a corrupti quia. Qui voluptas voluptatibus amet aut repellendus omnis. Ipsa veritatis dolor consectetur qui dolore cum. Omnis reiciendis quos qui cumque. Ipsum minima fugit repudiandae maiores eum veritatis omnis. Aperiam dolorem ad eum eius vel. Repellat et voluptates nihil amet ad. Maxime vel ipsa laborum nobis ab doloribus. Et voluptas ducimus perspiciatis dicta. Est dolores cum et nostrum libero adipisci. Sed blanditiis eum quia beatae odit. Accusamus nam voluptatem molestias voluptatum dignissimos. Voluptatibus et sunt maiores iste inventore doloribus. Explicabo iure fugit quod corporis excepturi reprehenderit. Quis ut esse sed similique. Quis consequatur impedit fugiat neque. Voluptatem aut aut molestiae molestias qui fugiat. Et assumenda quae repudiandae sit natus. Quis vitae quaerat perspiciatis est odio sunt. Autem sed vero cumque consequatur cumque sit. Porro vel amet totam minus eveniet. Nobis quia cumque vero et quia vitae. Et amet qui eius aut. Iure officia ipsam fugiat.",
                                                    "description_en": null,
                                                    "row_status": 1,
                                                    "created_by": null,
                                                    "updated_by": null,
                                                    "deleted_at": null,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z"
                                                },
                                                {
                                                    "id": 22,
                                                    "title": "Sound Engineering Technician",
                                                    "title_en": "Sound Engineering Technician",
                                                    "description": "Sunt quo enim autem possimus alias qui sit cum. Esse quo expedita ipsam temporibus veritatis laborum. Omnis hic necessitatibus alias ullam dolor nostrum. Voluptatem quis consequatur et modi cumque aut. Aut quasi consequatur expedita commodi quaerat pariatur id rerum. Corporis hic aperiam delectus quia. Dolore eaque aut atque non. Ipsum iusto qui at vitae et et alias. Inventore et neque sequi saepe non accusantium ipsa. Omnis quia error at dolor nisi. Culpa eius qui a harum. Distinctio nostrum est et velit. Sint sapiente voluptas consectetur. Rerum a eos et modi atque doloribus facilis. Reprehenderit illo maxime porro architecto. Minus odit nobis vero omnis nihil quae. Qui nihil a esse unde omnis corporis. Quibusdam modi nihil ducimus enim vero voluptatem. Et et nisi excepturi autem omnis ex. Corporis qui autem dolorem autem. Beatae sunt eos voluptatibus qui quam. Repudiandae quae dolores quaerat voluptas minus omnis. Aperiam qui mollitia eos. Labore et dolores maiores quidem sint. Eius autem unde architecto quaerat possimus molestiae. Voluptas officia officia neque corrupti voluptatem laboriosam. Ullam totam error eos dolor velit rerum voluptatum laborum. Fugiat repudiandae quae fugit. Qui officiis illum dolorem recusandae. Doloribus voluptas officia qui. Atque et neque temporibus itaque ea aut explicabo voluptatem. Et hic error sint nemo nam maxime quasi. Qui sequi magni eum omnis officiis doloremque exercitationem. Non aut sint amet consequatur. Vel omnis aut cumque optio porro. Iure quis dolores aut natus commodi non necessitatibus. Molestiae dolor et nostrum nostrum et. Sed id quia aliquid id tempora. Nisi aliquam et sed totam voluptas. Eveniet sit esse qui sint deserunt porro sit. Ipsa a quidem placeat aut expedita. Vel sint sit necessitatibus rerum. Eos sit vel iure. Molestiae error qui non quo beatae nihil numquam. Nostrum quaerat ut qui id occaecati. Quibusdam quam qui architecto natus quia omnis ipsa. Cupiditate sed vitae quam blanditiis nihil error doloremque. Voluptas voluptate accusamus ut dolores voluptate exercitationem nostrum. Quo hic ad error. Autem et mollitia voluptatum repudiandae corporis totam dolore. Dolor ut tempore est voluptas aut. Aut ea eligendi rem qui ipsa reprehenderit alias. Quis harum nobis alias voluptatem delectus est. Modi dolor omnis excepturi. Nihil rerum eaque excepturi repellat sint. Sint voluptatem voluptas nihil sint iusto. Iste eos aut a expedita quos vel. Modi qui minima soluta aut vitae. Exercitationem et beatae neque qui necessitatibus. Distinctio sed dolor sit ut in totam nihil. Dolorum delectus nemo aliquam corrupti corporis.",
                                                    "description_en": null,
                                                    "row_status": 1,
                                                    "created_by": null,
                                                    "updated_by": null,
                                                    "deleted_at": null,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z",
                                                    "physical_disabilities": [
                                                    ],
                                                    "youth_job_experiences": [
                                                        {
                                                            "id": 1,
                                                            "youth_id": 1,
                                                            "employment_type_id": 1,
                                                            "company_name": "Grant LLC",
                                                            "company_name_en": "Grant LLC",
                                                            "position": "Personal Care Worker",
                                                            "position_en": "Personal Care Worker",
                                                            "location": "5050 Ernie Vista Suite 466",
                                                            "location_en": "5050 Ernie Vista Suite 466",
                                                            "job_responsibilities": "Warehouse",
                                                            "job_responsibilities_en": "Warehouse",
                                                            "start_date": "2020-09-30",
                                                            "end_date": "1988-10-10",
                                                            "is_currently_working": 0,
                                                            "created_at": "2021-10-17T06:26:04.000000Z",
                                                            "updated_at": "2021-10-17T06:26:04.000000Z",
                                                            "deleted_at": null
                                                        },
                                                        {
                                                            "id": 1,
                                                            "youth_id": 1,
                                                            "employment_type_id": 1,
                                                            "company_name": "Grant LLC",
                                                            "company_name_en": "Grant LLC",
                                                            "position": "Personal Care Worker",
                                                            "position_en": "Personal Care Worker",
                                                            "location": "5050 Ernie Vista Suite 466",
                                                            "location_en": "5050 Ernie Vista Suite 466",
                                                            "job_responsibilities": "Warehouse",
                                                            "job_responsibilities_en": "Warehouse",
                                                            "start_date": "2020-09-30",
                                                            "end_date": "1988-10-10",
                                                            "is_currently_working": 0,
                                                            "created_at": "2021-10-17T06:26:04.000000Z",
                                                            "updated_at": "2021-10-17T06:26:04.000000Z",
                                                            "deleted_at": null
                                                        }
                                                    ]
                                                }
                                            ],
                                            "physical_disabilities": [
                                            ],
                                            "youth_languages_proficiencies": [
                                                {
                                                    "id": 1,
                                                    "youth_id": 1,
                                                    "employment_type_id": 1,
                                                    "company_name": "Grant LLC",
                                                    "company_name_en": "Grant LLC",
                                                    "position": "Personal Care Worker",
                                                    "position_en": "Personal Care Worker",
                                                    "location": "5050 Ernie Vista Suite 466",
                                                    "location_en": "5050 Ernie Vista Suite 466",
                                                    "job_responsibilities": "Warehouse",
                                                    "job_responsibilities_en": "Warehouse",
                                                    "start_date": "2020-09-30T00:00:00.000000Z",
                                                    "end_date": "1988-10-10T00:00:00.000000Z",
                                                    "is_currently_working": 0,
                                                    "created_at": "2021-10-17T06:26:04.000000Z",
                                                    "updated_at": "2021-10-17T06:26:04.000000Z",
                                                    "deleted_at": null
                                                },
                                                {
                                                    "id": 2,
                                                    "youth_id": 22,
                                                    "employment_type_id": 1,
                                                    "company_name": "Grant LLC",
                                                    "company_name_en": "Grant LLC",
                                                    "position": "Personal Care Worker",
                                                    "position_en": "Personal Care Worker",
                                                    "location": "5050 Ernie Vista Suite 466",
                                                    "location_en": "5050 Ernie Vista Suite 466",
                                                    "job_responsibilities": "Warehouse",
                                                    "job_responsibilities_en": "Warehouse",
                                                    "start_date": "2020-09-30T00:00:00.000000Z",
                                                    "end_date": "1988-10-10T00:00:00.000000Z",
                                                    "is_currently_working": 0,
                                                    "created_at": "2021-10-17T06:26:04.000000Z",
                                                    "updated_at": "2021-10-17T06:26:04.000000Z",
                                                    "deleted_at": null
                                                }
                                            ],
                                            "youth_certifications": [
                                                {
                                                    "id": 1,
                                                    "youth_id": 1,
                                                    "certification_name": "Dr. Donny Hegmann",
                                                    "certification_name_en": "Dr. Donny Hegmann",
                                                    "institute_name": "Mrs. Maia Stehr PhD",
                                                    "institute_name_en": "Mrs. Maia Stehr PhD",
                                                    "location": "3135 Alvis Street Suite 782",
                                                    "location_en": "34241 Leffler Cliff Suite 685",
                                                    "start_date": "2020-02-13T00:00:00.000000Z",
                                                    "end_date": "2020-02-14T00:00:00.000000Z",
                                                    "certificate_file_path": "Dr. Donny Hegmann",
                                                    "created_at": "2021-10-17T06:26:04.000000Z",
                                                    "updated_at": "2021-10-17T06:26:04.000000Z",
                                                    "deleted_at": null
                                                },
                                                {
                                                    "id": 33,
                                                    "youth_id": 55,
                                                    "certification_name": "Dr. Donny Hegmann",
                                                    "certification_name_en": "Dr. Donny Hegmann",
                                                    "institute_name": "Mrs. Maia Stehr PhD",
                                                    "institute_name_en": "Mrs. Maia Stehr PhD",
                                                    "location": "3135 Alvis Street Suite 782",
                                                    "location_en": "34241 Leffler Cliff Suite 685",
                                                    "start_date": "2020-02-13T00:00:00.000000Z",
                                                    "end_date": "2020-02-14T00:00:00.000000Z",
                                                    "certificate_file_path": "Dr. Donny Hegmann",
                                                    "created_at": "2021-10-17T06:26:04.000000Z",
                                                    "updated_at": "2021-10-17T06:26:04.000000Z",
                                                    "deleted_at": null
                                                }
                                            ],
                                            "youth_educations": [
                                                {
                                                    "id": 1,
                                                    "youth_id": 1,
                                                    "education_level_id": 0,
                                                    "exam_degree_id": null,
                                                    "exam_degree_name": null,
                                                    "exam_degree_name_en": null,
                                                    "major_or_concentration": null,
                                                    "major_or_concentration_en": null,
                                                    "edu_group_id": null,
                                                    "edu_board_id": null,
                                                    "institute_name": "",
                                                    "institute_name_en": null,
                                                    "is_foreign_institute": 0,
                                                    "foreign_institute_country_id": null,
                                                    "result": null,
                                                    "marks_in_percentage": null,
                                                    "cgpa_scale": null,
                                                    "cgpa": null,
                                                    "year_of_passing": 0,
                                                    "duration": null,
                                                    "achievements": null,
                                                    "achievements_en": null,
                                                    "created_at": "2021-10-17T06:26:04.000000Z",
                                                    "updated_at": "2021-10-17T06:26:04.000000Z",
                                                    "deleted_at": null
                                                },
                                                {
                                                    "id": 22,
                                                    "youth_id": 5,
                                                    "education_level_id": 0,
                                                    "exam_degree_id": null,
                                                    "exam_degree_name": null,
                                                    "exam_degree_name_en": null,
                                                    "major_or_concentration": null,
                                                    "major_or_concentration_en": null,
                                                    "edu_group_id": null,
                                                    "edu_board_id": null,
                                                    "institute_name": "",
                                                    "institute_name_en": null,
                                                    "is_foreign_institute": 0,
                                                    "foreign_institute_country_id": null,
                                                    "result": null,
                                                    "marks_in_percentage": null,
                                                    "cgpa_scale": null,
                                                    "cgpa": null,
                                                    "year_of_passing": 0,
                                                    "duration": null,
                                                    "achievements": null,
                                                    "achievements_en": null,
                                                    "created_at": "2021-10-17T06:26:04.000000Z",
                                                    "updated_at": "2021-10-17T06:26:04.000000Z",
                                                    "deleted_at": null
                                                }
                                            ],
                                            "youth_portfolios": [
                                                {
                                                    "id": 1,
                                                    "youth_id": 1,
                                                    "title": "Industrial Production Manager",
                                                    "title_en": "Industrial Production Manager",
                                                    "description": "Ullam a impedit aut dolores omnis rem velit et enim modi voluptatem ipsum quia dignissimos asperiores voluptatem sit suscipit accusantium dicta consequatur nam porro neque culpa et soluta necessitatibus asperiores doloribus dolorem quae nihil deleniti odit deserunt quo non hic numquam voluptate aut occaecati eaque aliquid odit enim ut quidem accusantium autem ipsa deleniti est rerum doloremque cupiditate corporis sed harum in autem error autem est ex quo molestias occaecati ipsam sint pariatur eum nulla ad.",
                                                    "description_en": "Ullam a impedit aut dolores omnis rem velit et enim modi voluptatem ipsum quia dignissimos asperiores voluptatem sit suscipit accusantium dicta consequatur nam porro neque culpa et soluta necessitatibus asperiores doloribus dolorem quae nihil deleniti odit deserunt quo non hic numquam voluptate aut occaecati eaque aliquid odit enim ut quidem accusantium autem ipsa deleniti est rerum doloremque cupiditate corporis sed harum in autem error autem est ex quo molestias occaecati ipsam sint pariatur eum nulla ad.",
                                                    "file_path": "C:\\Users\\HP\\AppData\\Local\\Temp\\fakC0FD.tmp",
                                                    "row_status": 1,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z",
                                                    "deleted_at": null
                                                },
                                                {
                                                    "id": 2,
                                                    "youth_id": 1,
                                                    "title": "Rotary Drill Operator",
                                                    "title_en": "Rotary Drill Operator",
                                                    "description": "Aut iste nulla aut commodi neque assumenda provident eveniet quisquam expedita ut ipsa explicabo non nisi amet et velit id voluptatem voluptas qui sint tenetur et minus est veritatis sed voluptatum rerum qui dolor ipsam optio pariatur ex doloribus magnam optio nemo ut aliquid exercitationem rem pariatur ex eveniet numquam animi consequatur aut enim hic in voluptates reiciendis eligendi voluptatem omnis recusandae consequatur modi tempore distinctio esse tempore minima voluptatem ut omnis quaerat distinctio ipsa est porro aut aut rerum voluptatem iusto repellat et in aut cumque voluptatem maiores ut quibusdam velit minima suscipit ipsam ab autem et omnis eius accusantium accusamus et exercitationem magni fugit exercitationem veritatis nam eaque repellendus qui sint quaerat dignissimos eum repellendus porro cupiditate inventore sunt vero provident iusto distinctio optio expedita maxime assumenda sunt ut aut minima eius tenetur id atque et ut.",
                                                    "description_en": "Aut iste nulla aut commodi neque assumenda provident eveniet quisquam expedita ut ipsa explicabo non nisi amet et velit id voluptatem voluptas qui sint tenetur et minus est veritatis sed voluptatum rerum qui dolor ipsam optio pariatur ex doloribus magnam optio nemo ut aliquid exercitationem rem pariatur ex eveniet numquam animi consequatur aut enim hic in voluptates reiciendis eligendi voluptatem omnis recusandae consequatur modi tempore distinctio esse tempore minima voluptatem ut omnis quaerat distinctio ipsa est porro aut aut rerum voluptatem iusto repellat et in aut cumque voluptatem maiores ut quibusdam velit minima suscipit ipsam ab autem et omnis eius accusantium accusamus et exercitationem magni fugit exercitationem veritatis nam eaque repellendus qui sint quaerat dignissimos eum repellendus porro cupiditate inventore sunt vero provident iusto distinctio optio expedita maxime assumenda sunt ut aut minima eius tenetur id atque et ut.",
                                                    "file_path": "C:\\Users\\HP\\AppData\\Local\\Temp\\fakC10E.tmp",
                                                    "row_status": 1,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z",
                                                    "deleted_at": null
                                                },
                                                {
                                                    "id": 3,
                                                    "youth_id": 1,
                                                    "title": "Healthcare Practitioner",
                                                    "title_en": "Healthcare Practitioner",
                                                    "description": "Porro magnam illo provident et facere qui facilis porro voluptatem omnis et ad optio omnis doloribus autem possimus aut eos deserunt accusantium numquam rerum commodi cupiditate quo aut eos ut qui magnam illo et mollitia molestiae ullam voluptate accusamus quis dicta sapiente aliquid debitis ut tenetur ratione sint vero iure architecto itaque eum et deleniti voluptate totam omnis dolorem laudantium dolore enim culpa repellat ut enim iste velit ex quo temporibus numquam incidunt ea qui illo repellendus et quas praesentium voluptate illo et quis omnis nihil corrupti libero est et ut est et repellat deserunt accusamus aut officia placeat quae molestiae.",
                                                    "description_en": "Porro magnam illo provident et facere qui facilis porro voluptatem omnis et ad optio omnis doloribus autem possimus aut eos deserunt accusantium numquam rerum commodi cupiditate quo aut eos ut qui magnam illo et mollitia molestiae ullam voluptate accusamus quis dicta sapiente aliquid debitis ut tenetur ratione sint vero iure architecto itaque eum et deleniti voluptate totam omnis dolorem laudantium dolore enim culpa repellat ut enim iste velit ex quo temporibus numquam incidunt ea qui illo repellendus et quas praesentium voluptate illo et quis omnis nihil corrupti libero est et ut est et repellat deserunt accusamus aut officia placeat quae molestiae.",
                                                    "file_path": "C:\\Users\\HP\\AppData\\Local\\Temp\\fakC10F.tmp",
                                                    "row_status": 1,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z",
                                                    "deleted_at": null
                                                },
                                                {
                                                    "id": 4,
                                                    "youth_id": 1,
                                                    "title": "Public Relations Specialist",
                                                    "title_en": "Public Relations Specialist",
                                                    "description": "Laborum placeat numquam ea perferendis provident officia ex quis qui nihil odio iure dolor dolores iusto dolor dolores corporis ratione nisi omnis eligendi sapiente corrupti tenetur optio nihil velit dolorem laudantium sapiente quam reiciendis sit enim qui quam deleniti excepturi non deleniti saepe et excepturi repellendus quibusdam eius non debitis tempore minima explicabo quia quam quae velit atque fugiat hic consequuntur omnis aut perspiciatis sunt voluptatem ut quas eaque magni et distinctio quia est veritatis inventore maiores voluptatem aut esse illo quod est quam fugiat corporis est necessitatibus labore error animi aliquam numquam occaecati laboriosam.",
                                                    "description_en": "Laborum placeat numquam ea perferendis provident officia ex quis qui nihil odio iure dolor dolores iusto dolor dolores corporis ratione nisi omnis eligendi sapiente corrupti tenetur optio nihil velit dolorem laudantium sapiente quam reiciendis sit enim qui quam deleniti excepturi non deleniti saepe et excepturi repellendus quibusdam eius non debitis tempore minima explicabo quia quam quae velit atque fugiat hic consequuntur omnis aut perspiciatis sunt voluptatem ut quas eaque magni et distinctio quia est veritatis inventore maiores voluptatem aut esse illo quod est quam fugiat corporis est necessitatibus labore error animi aliquam numquam occaecati laboriosam.",
                                                    "file_path": "C:\\Users\\HP\\AppData\\Local\\Temp\\fakC110.tmp",
                                                    "row_status": 1,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z",
                                                    "deleted_at": null
                                                },
                                                {
                                                    "id": 5,
                                                    "youth_id": 1,
                                                    "title": "Occupational Health Safety Technician",
                                                    "title_en": "Occupational Health Safety Technician",
                                                    "description": "Aspernatur eligendi hic vel sit qui consequuntur quae qui sint ut libero ad qui velit amet eum unde ut velit commodi cupiditate quisquam voluptatem consequatur natus sequi saepe sed inventore at ut a in voluptatem numquam qui nulla aliquid voluptates expedita eius nesciunt deserunt recusandae porro rerum accusamus aut in earum sed dicta exercitationem qui iure omnis totam qui itaque vel eos blanditiis corporis qui ut quod et consequatur et corrupti dolorem ut sed vel deserunt occaecati sed reprehenderit sint et ratione est dicta deleniti iusto cum.",
                                                    "description_en": "Aspernatur eligendi hic vel sit qui consequuntur quae qui sint ut libero ad qui velit amet eum unde ut velit commodi cupiditate quisquam voluptatem consequatur natus sequi saepe sed inventore at ut a in voluptatem numquam qui nulla aliquid voluptates expedita eius nesciunt deserunt recusandae porro rerum accusamus aut in earum sed dicta exercitationem qui iure omnis totam qui itaque vel eos blanditiis corporis qui ut quod et consequatur et corrupti dolorem ut sed vel deserunt occaecati sed reprehenderit sint et ratione est dicta deleniti iusto cum.",
                                                    "file_path": "C:\\Users\\HP\\AppData\\Local\\Temp\\fakC111.tmp",
                                                    "row_status": 1,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z",
                                                    "deleted_at": null
                                                }
                                            ],
                                            "youth_references": [
                                                {
                                                    "id": 1,
                                                    "youth_id": 1,
                                                    "referrer_first_name": "Dock",
                                                    "referrer_first_name_en": "Dock",
                                                    "referrer_last_name": "Smitham",
                                                    "referrer_last_name_en": "Smitham",
                                                    "referrer_organization_name": "Barrows-Thompson",
                                                    "referrer_organization_name_en": "Schroeder, Harvey and Crona",
                                                    "referrer_designation": "Interpreter OR Translator",
                                                    "referrer_designation_en": "Occupational Health Safety Specialist",
                                                    "referrer_address": "996 Aiyana Roads Apt. 843\nLegrosview, NV 71111",
                                                    "referrer_address_en": "996 Aiyana Roads Apt. 843\nLegrosview, NV 71111",
                                                    "referrer_email": "harber.chaz@example.com",
                                                    "referrer_mobile": "1-208-779-2230",
                                                    "referrer_relation": "et",
                                                    "referrer_relation_en": "qui",
                                                    "row_status": 1,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z",
                                                    "deleted_at": null
                                                },
                                                {
                                                    "id": 2,
                                                    "youth_id": 1,
                                                    "referrer_first_name": "Magdalena",
                                                    "referrer_first_name_en": "Magdalena",
                                                    "referrer_last_name": "Klocko",
                                                    "referrer_last_name_en": "Klocko",
                                                    "referrer_organization_name": "Smith Ltd",
                                                    "referrer_organization_name_en": "Leannon, Weimann and Tillman",
                                                    "referrer_designation": "Title Abstractor",
                                                    "referrer_designation_en": "Substance Abuse Social Worker",
                                                    "referrer_address": "1483 Carol Plaza Apt. 125\nEsmeraldaberg, NE 34640",
                                                    "referrer_address_en": "1483 Carol Plaza Apt. 125\nEsmeraldaberg, NE 34640",
                                                    "referrer_email": "taryn05@example.org",
                                                    "referrer_mobile": "(681) 665-6307",
                                                    "referrer_relation": "dolorum",
                                                    "referrer_relation_en": "quasi",
                                                    "row_status": 1,
                                                    "created_at": "2021-10-10T07:23:59.000000Z",
                                                    "updated_at": "2021-10-10T07:23:59.000000Z",
                                                    "deleted_at": null
                                                }
                                            ]
                                        }
                                    ],
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "started": "07 21 24",
                                        "finished": "07 21 24"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "youth"
                ]
            }
        },
        "/youth-exist-check": {
            "get": {
                "summary": "Check youth exist or not by User-Token",
                "description": "API endpoint to check weather youth exist or not. A successful request response will show 200 HTTP status code",
                "responses": {
                    "200": {
                        "description": "Check youth exist or not",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": {
                                        "youth_exist": true
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Youth existence checked by User-Token!",
                                        "query_time": "1 second before"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "youth"
                ]
            }
        },
        "/youth-registration": {
            "post": {
                "summary": "Youth registration",
                "description": "API endpoint to register a youth. A successful request response will show 200 HTTP status code ",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/youthRegistration"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "register_youth",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/youthRegistration"
                                },
                                "example": {
                                    "data": {
                                        "user_name_type": "2",
                                        "first_name": "asdfcsdfv",
                                        "first_name_en": null,
                                        "last_name": "wsdgfdfg",
                                        "last_name_en": null,
                                        "loc_division_id": "1",
                                        "loc_district_id": "1",
                                        "loc_upazila_id": "1",
                                        "date_of_birth": "1990-12-12T00:00:00.000000Z",
                                        "gender": "1",
                                        "email": "fffffff@gmail.com",
                                        "mobile": "01308866287",
                                        "physical_disability_status": "1",
                                        "username": "01308866287",
                                        "verification_code_sent_at": "2021-10-17T16:02:27.000000Z",
                                        "row_status": 2,
                                        "updated_at": "2021-10-17T16:02:27.000000Z",
                                        "created_at": "2021-10-17T16:02:27.000000Z",
                                        "id": 24
                                    },
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Youth Registration"
                ]
            }
        },
        "/cdap-youth-create": {
            "post": {
                "summary": "CDAP Youth registration",
                "description": "API endpoint to register a cdap youth. A successful request response will show 200 HTTP status code ",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/youthRegistration"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "register_cdap_youth",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/youthRegistration"
                                },
                                "example": {
                                    "data": {
                                        "user_name_type": "2",
                                        "first_name": "asdfcsdfv",
                                        "first_name_en": null,
                                        "last_name": "wsdgfdfg",
                                        "last_name_en": null,
                                        "loc_division_id": "1",
                                        "loc_district_id": "1",
                                        "loc_upazila_id": "1",
                                        "date_of_birth": "1990-12-12T00:00:00.000000Z",
                                        "gender": "1",
                                        "email": "fffffff@gmail.com",
                                        "mobile": "01308866287",
                                        "physical_disability_status": "1",
                                        "username": "01308866287",
                                        "verification_code_sent_at": "2021-10-17T16:02:27.000000Z",
                                        "row_status": 2,
                                        "updated_at": "2021-10-17T16:02:27.000000Z",
                                        "created_at": "2021-10-17T16:02:27.000000Z",
                                        "youth_source": 1,
                                        "id": 24
                                    },
                                    "response_status": {
                                        "success": true,
                                        "code": 200,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Youth Registration"
                ]
            }
        },
        "/youth-profile": {
            "get": {
                "summary": "Get youth profile",
                "description": "API endpoint to get the youth profile. A successful request response will show 200 HTTP status code ",
                "security": [
                    {
                        "User-Token": []
                    }
                ],
                "x-auth-type": "None",
                "x-throttling-tier": null,
                "x-wso2-disable-security": true,
                "x-wso2-application-security": {
                    "security-types": [
                    ],
                    "optional": true
                },
                "responses": {
                    "200": {
                        "description": "get youth profile",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/youthProfile"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "username": "BarbieKing",
                                        "user_name_type": 0,
                                        "first_name": "Konahamaru",
                                        "first_name_en": "Konahamaru",
                                        "last_name": "Hashirama",
                                        "last_name_en": "Hashirama",
                                        "loc_division_id": 1,
                                        "division_title": "বরিশাল",
                                        "division_title_en": "Barisal",
                                        "loc_district_id": 1,
                                        "district_title": "বরগুনা",
                                        "district_title_en": "BARGUNA",
                                        "loc_upazila_id": 1,
                                        "upazila_title": "বাগেরহাট সদর",
                                        "upazila_title_en": "BAGERHAT SADAR",
                                        "gender": 1,
                                        "religion": null,
                                        "is_freelance_profile": 0,
                                        "marital_status": null,
                                        "nationality": 1,
                                        "email": null,
                                        "mobile": null,
                                        "expected_salary": 50000,
                                        "job_level": 1,
                                        "identity_number_type": null,
                                        "identity_number": null,
                                        "date_of_birth": "2022-01-30T00:00:00.000000Z",
                                        "Age": 10,
                                        "freedom_fighter_status": 1,
                                        "physical_disability_status": 0,
                                        "does_belong_to_ethnic_group": 0,
                                        "bio": null,
                                        "bio_en": null,
                                        "photo": null,
                                        "cv_path": null,
                                        "signature_image_path": null,
                                        "row_status": 1,
                                        "created_at": null,
                                        "updated_at": "2022-01-30T07:00:13.000000Z",
                                        "profile_completed": 0,
                                        "total_job_experience": {
                                            "year": 6,
                                            "month": 0
                                        },
                                        "physical_disabilities": [],
                                        "youth_languages_proficiencies": [],
                                        "skills": [],
                                        "youth_educations": [],
                                        "youth_job_experiences": [
                                            {
                                                "id": 5,
                                                "youth_id": 1,
                                                "employment_type_id": 1,
                                                "company_name": "HurrayMania",
                                                "company_name_en": null,
                                                "position": "Ftv",
                                                "position_en": null,
                                                "location": "aaaa",
                                                "location_en": null,
                                                "job_responsibilities": null,
                                                "job_responsibilities_en": null,
                                                "start_date": "2020-09-09T00:00:00.000000Z",
                                                "end_date": "2022-09-09T00:00:00.000000Z",
                                                "is_currently_working": 1,
                                                "created_at": "2022-01-30T06:20:32.000000Z",
                                                "updated_at": "2022-01-30T06:20:32.000000Z",
                                                "deleted_at": null,
                                                "area_of_experiences": [
                                                    {
                                                        "id": 3,
                                                        "youth_id": "1",
                                                        "youth_job_experience_id": "5",
                                                        "area_of_experience_id": 1
                                                    },
                                                    {
                                                        "id": 4,
                                                        "youth_id": "1",
                                                        "youth_job_experience_id": "5",
                                                        "area_of_experience_id": 2
                                                    }
                                                ],
                                                "area_of_businesses": [
                                                    {
                                                        "id": 1,
                                                        "youth_id": "1",
                                                        "youth_job_experience_id": "5",
                                                        "area_of_business_id": 1
                                                    },
                                                    {
                                                        "id": 2,
                                                        "youth_id": "1",
                                                        "youth_job_experience_id": "5",
                                                        "area_of_business_id": 2
                                                    }
                                                ]
                                            },
                                            {
                                                "id": 7,
                                                "youth_id": 1,
                                                "employment_type_id": 1,
                                                "company_name": "HurrayMania",
                                                "company_name_en": null,
                                                "position": "Ftv",
                                                "position_en": null,
                                                "location": "aaaa",
                                                "location_en": null,
                                                "job_responsibilities": null,
                                                "job_responsibilities_en": null,
                                                "start_date": "2020-09-09T00:00:00.000000Z",
                                                "end_date": "2022-09-09T00:00:00.000000Z",
                                                "is_currently_working": 1,
                                                "created_at": "2022-01-30T08:31:46.000000Z",
                                                "updated_at": "2022-01-30T08:31:46.000000Z",
                                                "deleted_at": null,
                                                "area_of_experiences": [
                                                    {
                                                        "id": 9,
                                                        "youth_id": "1",
                                                        "youth_job_experience_id": "7",
                                                        "area_of_experience_id": 1
                                                    },
                                                    {
                                                        "id": 10,
                                                        "youth_id": "1",
                                                        "youth_job_experience_id": "7",
                                                        "area_of_experience_id": 2
                                                    }
                                                ],
                                                "area_of_businesses": [
                                                    {
                                                        "id": 7,
                                                        "youth_id": "1",
                                                        "youth_job_experience_id": "7",
                                                        "area_of_business_id": 1
                                                    },
                                                    {
                                                        "id": 8,
                                                        "youth_id": "1",
                                                        "youth_job_experience_id": "7",
                                                        "area_of_business_id": 2
                                                    }
                                                ]
                                            }
                                        ],
                                        "youth_certifications": [],
                                        "youth_portfolios": [],
                                        "youth_addresses": []
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Youth profile information",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Youth Profile"
                ]
            }
        },
        "/youth-set-default-cv-template": {
            "put": {
                "tags": [
                    "Youth Profile"
                ],
                "summary": "Set default cv-template",
                "description": "API endpoint to Set default cv-template. A successful request response will show 200 HTTP status code ",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/DefaultCvTemplate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successfull",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Successfully set your cv template",
                                        "query_time": "1 second before"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/youth-portfolios": {
            "get": {
                "summary": "get_list",
                "description": " API endpoint to get the list of Youth portfolio",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/title"
                    },
                    {
                        "$ref": "#/components/parameters/title_en"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/page_size"
                    },
                    {
                        "$ref": "#/components/parameters/order"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get one",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/portfolio"
                                },
                                "example": {
                                    "current_page": 1,
                                    "total_page": 1,
                                    "page_size": 10,
                                    "total": 0,
                                    "order": "ASC",
                                    "data": {
                                        "order": "ASC",
                                        "data": [
                                            {
                                                "id": 1,
                                                "title": "Social Science Research Assistant",
                                                "title_en": "Social Science Research Assistant",
                                                "description": "Fugit voluptas.",
                                                "description_en": "Fugit voluptas.",
                                                "file_path": "C:\\Users\\HP\\AppData\\Local\\Temp\\fak8408.tmp",
                                                "youth_id": 1,
                                                "created_at": "2021-10-17T09:31:01.000000Z",
                                                "updated_at": "2021-10-17T09:31:01.000000Z"
                                            },
                                            {
                                                "id": 2,
                                                "title": "Radiologic Technician",
                                                "title_en": "Radiologic Technician",
                                                "description": "Accusantium accusantium.",
                                                "description_en": "Accusantium accusantium.",
                                                "file_path": "C:\\Users\\HP\\AppData\\Local\\Temp\\fak8419.tmp",
                                                "youth_id": 1,
                                                "created_at": "2021-10-17T09:31:01.000000Z",
                                                "updated_at": "2021-10-17T09:31:01.000000Z"
                                            }
                                        ],
                                        "response_status": {
                                            "success": true,
                                            "code": 200,
                                            "query_time": 0
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Portfolios"
                ]
            },
            "post": {
                "summary": "create",
                "description": "API endpoint to create a Youth portfolio.A successful request response will show 200 HTTP status code",
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/portfolio"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/portfolio"
                                },
                                "example": {
                                    "data": {
                                        "title": "native title",
                                        "title_en": null,
                                        "description": null,
                                        "description_en": null,
                                        "youth_id": 1,
                                        "file_path": null,
                                        "updated_at": "2021-10-17T12:30:06.000000Z",
                                        "created_at": "2021-10-17T12:30:06.000000Z",
                                        "id": 102
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "message": "YouthPortfolio added successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Portfolios"
                ]
            }
        },
        "/youth-portfolios/{portfolioId}": {
            "get": {
                "summary": "get one",
                "description": "API endpoint to get the specified Youth portfolio.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/portfolioId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/portfolio"
                                },
                                "example": {
                                    "data": {
                                        "title": "Test",
                                        "youth_id": "1",
                                        "updated_at": "2021-09-30T12:23:22.000000Z",
                                        "created_at": "2021-09-30T12:23:22.000000Z",
                                        "id": 24
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 201,
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Portfolios"
                ]
            },
            "put": {
                "summary": "update",
                "description": "API endpoint to update the specified Youth portfolio.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/portfolioId"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "$ref": "#/components/schemas/portfolio"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/portfolio"
                                },
                                "example": {
                                    "data": {
                                        "id": 1,
                                        "youth_id": 1,
                                        "title": "native title",
                                        "title_en": null,
                                        "description": null,
                                        "description_en": "Fugit v autem.",
                                        "file_path": "C:\\Users\\HP\\AppData\\Local\\Temp\\fak8408.tmp",
                                        "created_at": "2021-10-17T09:31:01.000000Z",
                                        "updated_at": "2021-10-17T12:43:01.000000Z",
                                        "deleted_at": null
                                    },
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "YouthPortfolio updated successfully",
                                        "query_time": 0
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Portfolios"
                ]
            },
            "delete": {
                "summary": "delete",
                "description": "API endpoint to delete the Youth profile.A successful request response will show 200 HTTP status code",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/portfolioId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "example": {
                                    "_response_status": {
                                        "success": true,
                                        "code": 200,
                                        "message": "Portfolio deleted successfully",
                                        "started": "12 40 05",
                                        "finished": "12 40 05"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Portfolios"
                ]
            }
        },
        "/youth-feed": {
            "get": {
                "tags": [
                    "Youth Feed"
                ],
                "summary": "Get all youth feed",
                "description": "API endpoint to Get all youth feed. A successful request response will show 200 HTTP status code",
                "responses": {
                    "200": {
                        "description": "successful",
                        "content": {
                            "application/json": {
                                "example": {
                                    "data": [
                                        {
                                            "id": 15,
                                            "job_id": "IDSA-b0bac222-cec4-41bb-af8f-0ba53db738c9",
                                            "service_type": 1,
                                            "job_title": "Technical Manager",
                                            "job_title_en": "Technical Manager",
                                            "no_of_vacancies": 1,
                                            "occupation_id": 59,
                                            "job_sector_id": 6,
                                            "industry_association_id": 1,
                                            "organization_id": 36,
                                            "institute_id": null,
                                            "application_deadline": "2022-03-12",
                                            "published_at": "2022-02-28 13:13:08",
                                            "archived_at": null,
                                            "is_apply_online": 0,
                                            "minimum_year_of_experience": 3,
                                            "maximum_year_of_experience": null,
                                            "industry_association_title": "মেট্রোপলিটন চেম্বার অব কমার্স অ্যান্ড ইন্ড্রাস্ট্রি, ঢাকা",
                                            "industry_association_title_en": "Metropolitan Chamber of Commerce & Industry, Dhaka (MCCI)",
                                            "industry_association_logo": "https://file-phase1.nise.gov.bd/uploads/NO9ej7KoCanCgF2bz85lgEp7610pYj1644482778.png",
                                            "industry_association_address": "Chamber Building (4th Floor), 122-124, Motijheel CA, Dhaka-1000, Bangladesh",
                                            "industry_association_address_en": "Chamber Building (4th Floor), 122-124, Motijheel CA, Dhaka-1000, Bangladesh",
                                            "organization_title": "Rahul's Textiles",
                                            "organization_title_en": "Rahul's Textiles",
                                            "organization_logo": null,
                                            "organization_address": "Chairman goli, Noyatola",
                                            "organization_address_en": "Chairman goli, Noyatola",
                                            "row_status": 1,
                                            "applications": "0",
                                            "shortlisted": "0",
                                            "interviewed": "0",
                                            "has_applied": "0",
                                            "feed_item_type": "2",
                                            "feed_sort_date": "2022-02-28 13:13:08",
                                            "company_info_visibility": {
                                                "id": 15,
                                                "job_id": "IDSA-b0bac222-cec4-41bb-af8f-0ba53db738c9",
                                                "is_company_name_visible": 1,
                                                "company_name": null,
                                                "company_name_en": null,
                                                "is_company_address_visible": 1,
                                                "company_industry_type": 2,
                                                "is_company_business_visible": 0,
                                                "deleted_at": null,
                                                "created_at": "2022-02-28T13:06:37.000000Z",
                                                "updated_at": "2022-02-28T13:06:37.000000Z"
                                            },
                                            "additional_job_information": {
                                                "id": 15,
                                                "job_id": "IDSA-b0bac222-cec4-41bb-af8f-0ba53db738c9",
                                                "job_responsibilities": "Should be experienced in Sub-Station Automation System ( SCADA )\nShould be experienced in Remote Terminal Unit ( RTU )\nShould have proper knowledge about PLCC, SDH, & PDH\nMinimum 2 years experience in primary & secondary testing\nManaging and co-ordination of Erection Testing & Commissioning\nShould have proper knowledge about solar & renewable energy\nShould be able to design and solve substation problems",
                                                "job_responsibilities_en": "Should be experienced in Sub-Station Automation System ( SCADA )\nShould be experienced in Remote Terminal Unit ( RTU )\nShould have proper knowledge about PLCC, SDH, & PDH\nMinimum 2 years experience in primary & secondary testing\nManaging and co-ordination of Erection Testing & Commissioning\nShould have proper knowledge about solar & renewable energy\nShould be able to design and solve substation problems",
                                                "job_context": "Technical Manager",
                                                "job_context_en": "Technical Manager",
                                                "job_place_type": 1,
                                                "salary_min": 50000,
                                                "salary_max": 80000,
                                                "is_salary_info_show": 3,
                                                "is_salary_compare_to_expected_salary": 1,
                                                "is_salary_alert_excessive_than_given_salary_range": 1,
                                                "salary_review": null,
                                                "festival_bonus": 1,
                                                "additional_salary_info": null,
                                                "additional_salary_info_en": null,
                                                "is_other_benefits": 1,
                                                "lunch_facilities": null,
                                                "others": null,
                                                "others_en": null,
                                                "created_at": "2022-02-28T13:02:02.000000Z",
                                                "updated_at": "2022-02-28T13:02:02.000000Z",
[...]
